body {
  text-align: center;
  background-color: #404040;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 70%;
  margin: auto;
}

@media screen and (min-width: 1120px) {
  .container {
    width: 50%;
  }
}

.btn {
  margin: 14px;
  display: inline-block;
  height: 120px;
  width: 120px;
  border: 6px solid black;
  border-radius: 14%;
}

@media screen and (min-width: 810px) {
  .btn {
    border: 10px solid black;
    border-radius: 20%;
    margin: 25px;
    height: 200px;
    width: 200px;
  }
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}